
html{
    font-family: 0swald, sans-serif;
    font-size: 62.5%;
}

#main-visual{
    background: url(/img/main-visual.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 0;
    min-height: 650px;
}
.inner{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
section{
   h2{
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 6rem;
    
    span{
        display: block;
        font-size: 6rem;
        font-family: "Arial",sans-serif;
        font-weight: bold;
        letter-spacing: 1.5px;
        }

    &::before{
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        background-color: #009ce8;
        position: relative;
        left: calc(50% - 15px);
        bottom: 0;}
    }
}

#about .inner {
    .flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        > div{
        width: 30%;
            p{
                padding-top: 2rem;
                font-size: 1.4rem;
            }
        }
        .ttl{
        text-align: center;
        letter-spacing: 2px;
        line-height: 100%;
            .top{
                font-weight: 500;
                padding-top: 0;
                font-size: 1.8rem;
            }
            .bottom{
                color: #000000;
                font-weight: bold;
                font-size: 3rem;
                margin-top: 12px;
                border-bottom: 1px solid #000;
                padding-bottom: 30px;
                span{
                    font-size: 6rem;
                    font-family: "0swald", sans-serif;
                    font-weight: 400;
                }
            }
        }
    }
}