html{
    font-size: 62.5%
}

.navbar-fz{
    font-size: 2vw;
}

.snslogo{
    background-color: #fff;
    height: 10vh;
    border-radius: 50%;
    border: 1px solid #fff;
}

.navbar-dark .navbar-toggler{
    border-color: #fff;
}

.bg-header{
    background-color: rgb(252, 164, 0);
}

.box-yt{
    height: 50rem;
}

.yt-h{
    height: 90%;
}

.text-ins{
    color: rgb(255, 107, 255);
}

.text-fb{
    color: rgb(56, 19, 219);
}

.bg-yt{
    background-color: rgb(255, 205, 205);
}

.bg-tw{
    background-color: rgb(254, 255, 205);
}

.bg-ins{
    background-color: rgb(207, 255, 205);
}

.bg-fb{
    background-color: rgb(205, 249, 255);
}